
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<canvas id="myChart"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'visite',
            borderColor: 'rgb(99,125,255)',
            data: [0, 10, 5, 2, 20, 30, 45],

        }, {
            label: 'vi',
            borderColor: 'rgb(255,99,99)',
            data: [7, 21, 14, 6, 20, 20, 50],


        }]

    },

    // Configuration options go here
    options: {}
});
</script>

